.form {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.form_container{
    width: 100%;
  max-width: 500px;
    
}
#user-form {
  padding: 35px;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
 background: linear-gradient(
    145deg,
    var(--card-bg-1),
    var(--card-bg-2)
  );
  display: flex;
  flex-direction: column;
  gap: 22px;
  
}

/* Labels */
#user-form label {
  display: flex;
  flex-direction: column;
  gap: 9px;

  color: var(--text-color);
  font-size: 16px;
}

/* Inputs */
#user-form input {
  width: 100%;
  box-sizing: border-box;

  padding: 14px 16px;

  background: var(--bg-color);
  color: var(--text-color);

  border: 1px solid #343438;
  border-radius: 10px;

  font-size: 16px;
  outline: none;

  transition: 0.3s ease;
}

/* Placeholder */
#user-form input::placeholder {
  color: #77777c;
}

/* Focus */
#user-form input:focus {
  border-color: #77777c;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.05);
}

/* Hover */
#user-form input:hover {
  border-color: #55555a;
}

/* Button */
#user-form button {
  margin-top: 5px;

  padding: 14px 20px;

  border: 1px solid #444449;
  border-radius: 10px;

  background: var( --bg-color);
  color: var(--text-color);

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

#user-form button:hover {
  background: var(--text-color);

  color: var(--bg-color);

  border-color: var(--bg-color);

  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.15);
}

#user-form button:active {
  transform: translateY(0);
}